<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My shell toolbox</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bunch of shell script" />
    <meta name="author" content="Nicolas Carlier (https://ncarlier.github.io)">
    <link rel="icon" type="image/png" href="http://www.gravatar.com/avatar/c68bf5ad50bc2d3b9c85ef230fc6b0aa.png">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!--link rel="stylesheet" href="css/all.css" /-->
  </head>
  <body>
    <section id="content">
      @@include(markdown('../README.md'))
    </section>
    <footer>
      <p>
      Made with <i class="fa fa-heart-o"></i> by Nicolas Carlier - website powered by Github<br/>
      <small>Copyright © 2014-2015 Nicolas Carlier</small>
      <small>This work is free. You can redistribute it and/or modify it under the terms of the GPLv3 License. See the LICENSE file for more details.<small>
      </p>
    </footer>
  </body>
</html>
